@{
    ViewData["Title"] = "Company Empty";
}

    @await Html.PartialAsync("CompanyNavBarPartial")
    
    @await Html.PartialAsync("CompanyMarkPartial")

    <h3 class="mt-5">The list is empty</h3>