<div class="container-fluid">
  <div class="button-add-link row align-items-start">
    <div class="col">
       <div class="addres-link"><p><a href="~/hm">Home</a>&#47;Companies</p></div>
    </div>
    <div class="col- d-flex flex-row-reverse">
        <div class ="add-button">
            <button class="btn btn-info rounded-left" type="button">Add Company</button>
            <button class="btn btn-info rounded-left" type="button">Add Project</button>
        </div>
    </div>
  </div>
 </div>

 <nav class=" second-navbar row" style="color: #f6f6f6;">  
            <il class="nav-item col">
            <a href ="#" class="text-dark float-left"><i class="fa fa-info-circle fa-2x"></i></a>
            </il>    
            
            <il class="nav-item col-auto r-xl-5 mr-xl-5 pr-md-5 pr-sm-5 pr-lg-5 pr-0">
            </il>
            
            <il class="col-auto pr-xl-5 mr-xl-5 pr-md-5 pr-sm-5 pr-lg-5 pr-0"></il>
            
            <il class="nav-item col-auto pl-xl-5 ml-xl-5 pl-md-5 pl-sm-5 pl-lg-5 pr-0 pr-xl-5 mr-xl-5 pr-lg-5 mr-sm-5 pr-sm-5 mr-lg-5 pr-3 mr-2">
               <button class="btn btn-light border-warning btn-lg float-right">@User.Identity.Name<i class="fa fa-user fa-1x" aria-hidden="true"></i></button>
            </il>
</nav>