@model StatusViewModel
@{
     ViewData["Title"] = "GetFormAddStatus";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="StatusLabel" asp-action="addStatusLabel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label> @*asp-for привязывает к  члену класса модели (объекту модели)*@
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Status Label" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>