@model VenderViewModel
@{
     ViewData["Title"] = "GetFormAddVender";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label> @*asp-for привязывает к  члену класса модели (объекту модели)*@
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstNameRepresentative" class="control-label"></label>
                <input asp-for="FirstNameRepresentative" class="form-control" />
                <span asp-validation-for="FirstNameRepresentative" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="LastNameRepresentative" class="control-label"></label>
                <input asp-for="LastNameRepresentative" class="form-control" />
                <span asp-validation-for="LastNameRepresentative" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="PhoneRepresentative" class="control-label"></label>
                <input asp-for="PhoneRepresentative" class="form-control" />
                <span asp-validation-for="PhoneRepresentative" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EmailRepresentative" class="control-label"></label>
                <input asp-for="EmailRepresentative" class="form-control" />
                <span asp-validation-for="EmailRepresentative" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="MailingAddress" class="control-label"></label>
                <input asp-for="MailingAddress" class="form-control" />
                <span asp-validation-for="MailingAddress" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Сomment" class="control-label"></label>
                <input asp-for="Сomment" class="form-control" />
                <span asp-validation-for="Сomment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Vender" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>