@{
    ViewData["Title"] = "Start Page";
}

<div class="container-fluid">
  <div class="button-add-link row align-items-start">
    <div class="col">
       <div class="addres-link"><p><a href="~/hm">Home</a>&#47;<a href="/sp/teh">Resources</a>&#47;Licenses</p></div> 
    </div>
    <div class="col d-flex flex-row-reverse">
        <div class ="add-button">
            <button class="btn btn-info rounded-left" type="button">Add Licenses</button>
            <button class="btn btn-info rounded-left" type="button">Add Range Licenses</button>
        </div>
    </div>
  </div>
 </div>

<div class = "tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="~/sp/teh" >Technics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="~/sp/ser">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="~/sp/lic">Licenses</a>
      </li>
    </ul>

<table class="table table-hover">
  <thead>
    <tr class="table-light">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Username</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Username</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Username</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row-table table-light">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
    </tr>
    <tr class="row-table table-light">
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Thornton</td>
      <td>Thornton</td>
      <td>Thornton</td>
      <td>Thornton</td>
      <td>Thornton</td>
    </tr>
    <tr class="row-table table-light">
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
    </tr>
     <tr class="row-table table-light">
      <th scope="row">4</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
    </tr>
     <tr class="row-table table-light">
      <th scope="row">5</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
    </tr>
    <tr class="row-table table-light">
      <th scope="row">6</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
    </tr>
    <tr class="row-table table-light">
      <th scope="row">7</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
    </tr>
    <tr class="row-table table-light">
      <th scope="row">8</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
    </tr>
    <tr class="row-table table-light">
      <th scope="row">9</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
    </tr>
    <tr class="row-table table-light">
      <th scope="row">10</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
    </tr>
    <tr class="row-table table-light">
      <th scope="row">11</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
    </tr>
    <tr class="row-table table-light">
      <th scope="row">12</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>
    </tr>
  </tbody>
</table>
</div>
