<nav class=" second-navbar row" style="color: #f6f6f6;">  
     <il class="nav-item col-2 pt-2 mt-1">
        <div class="addres-link"><p><a href="~/hm">Home</a>&#47;<a href="/sp/teh">Resources</a>&#47;Services</p></div> 
     </il>  
     <il class="nav-item col-auto">
         <button class="btn btn-info rounded-left" type="button">Add</button>
         <button class="btn btn-info rounded-left" type="button">Add Range</button>
         <button class="btn btn-info rounded-left" type="button">Add Category</button>
     </il>
</nav>
