@{
    ViewData["Title"] = "Technical Table";
}

  @await Html.PartialAsync("ResourcesNavBar")

<div class = "tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="~/sp/teh">Technics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="~/sp/ser">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="~/sp/lic">Licenses</a>
      </li>
    </ul>



<table class="table table-hover">
  <thead>
    <tr class="table-light">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Number</th>
      <th class="d-none d-lg-table-cell" scope="col">Storage</th>
      <th class="d-none d-lg-table-cell" scope="col">Own</th>
      <th class="d-none d-lg-table-cell" scope="col">Status</th>
      <th class="d-none d-lg-table-cell" scope="col">Company</th>
      <th class="d-none d-lg-table-cell" scope="col">Worker</th>
      <th class="d-none d-lg-table-cell" scope="col">Server Room</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row-table table-light">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>
      <td class="d-none d-lg-table-cell">Otto</td>
      <td class="d-none d-lg-table-cell">Otto</td>
      <td class="d-none d-lg-table-cell">Mark</td>
      <td class="d-none d-lg-table-cell">Otto</td>
      <td class="d-none d-lg-table-cell">Mark</td>
      <td class="d-none d-lg-table-cell">Otto</td>
    </tr>
  </tbody>
</table>
</div>

