<ul class="nav nav-tabs border-bottom border-info">
      <li>
        <a class="nav-link pl-4" data-toggle="tab"></a>
      </li>
      <li>
        <a class="nav-link" data-toggle="tab" href="~/wk">Workers</a>
      </li>
      <li class="nav-item border-bottom border-light">
        <a class="nav-link active border-bottom-0 border-info" data-toggle="tab" href="~/spc">Speciality</a>
      </li>
    </ul>
