@{
    ViewData["Title"] = "Speciality Empty";
}

    @await Html.PartialAsync("SpecialityNavBarPartial")
    
    @await Html.PartialAsync("SpecialityMarkPartial")

    <h3 class="mt-5">The list is empty</h3>
