@model PositionViewModel
@{
     ViewData["Title"] = "GetFormAddPosition";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Position" asp-action="addPosition">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label> 
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="text" asp-format="{0:dd.MM.yyyy}" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="RegistrationDocument" class="control-label"></label>
                <input asp-for="RegistrationDocument" class="form-control" />
                <span asp-validation-for="RegistrationDocument" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="AccountingNumber" class="control-label"></label>
                <input asp-for="AccountingNumber" class="form-control" />
                <span asp-validation-for="AccountingNumber" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Information" class="control-label"></label>
                <input asp-for="Information" class="form-control" />
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="VenderId" class="control-label"></label><br/>
                <select asp-for="VenderId" asp-items="Model.Venders" class="fform-select form-select-lg mb-3" multiple></select>
                <span asp-validation-for="VenderId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="StorageId" class="control-label"></label><br/>
                <select asp-for="StorageId" asp-items="Model.Storages" class="fform-select form-select-lg mb-3" multiple></select>
                <span asp-validation-for="StorageId" class="text-danger"></span>         
            </div>
            <div class="form-group">
                <label asp-for="FormOfOccurenceId" class="control-label"></label><br/>
                <select asp-for="FormOfOccurenceId" asp-items="Model.FormOfOccurences" class="fform-select form-select-lg mb-3" multiple></select>
                <span asp-validation-for="FormOfOccurenceId" class="text-danger"></span>         
            </div>
            <div class="form-group">
                <label asp-for="StatusLabelId" class="control-label"></label><br/>
                <select asp-for="StatusLabelId" asp-items="Model.StatusLabels" class="fform-select form-select-lg mb-3" multiple></select>
                <span asp-validation-for="StatusLabelId" class="text-danger"></span>         
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label><br/>
                <select asp-for="UserId" asp-items="Model.Users" class="fform-select form-select-lg mb-3" multiple></select>
                <span asp-validation-for="UserId" class="text-danger"></span>         
            </div>
            <div class="form-group">
                <input type="submit" value="Add Position" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>