<!DOCTYPE html>
<html lang="en">
<head>
	@await Html.PartialAsync("CssPatrial")
    @await Html.PartialAsync("MetaTagsPatrial")
    @await RenderSectionAsync("Scripts", required: false)
</head>

<body class="wrapper" style="background-color: #f6f6f6">
    @if(@User.IsInRole("admin"))
    {
        @await Html.PartialAsync("SideBarPatrialAutoris")
    }
    else
    {
        @await Html.PartialAsync("SideBarPatrialGuest")
    }
    <div class="main_content">
        @if(@User.IsInRole("admin"))
        {
                @await Html.PartialAsync("HeaderPatrialAutoris")
        } 
        else
        {
                @await Html.PartialAsync("HeaderPatrialGuest")
        }
        <div class="info">
                @RenderBody()
        </div>
    </div>
</body>
</html>