    <nav class="navbar navbar-expand sticky-top row pl-0 ml-0" style="background-color: #f6f6f6;">  
            
            <il class="nav-item col">
            <a href ="#" class="text-dark float-right"><i class="fa fa-info-circle fa-2x"></i></a>
            </il>    
            
            <il class="nav-item col-auto r-xl-5 mr-xl-5 pr-md-5 pr-sm-5 pr-lg-5 pr-0">
              <a class="text-dark float-right">@await Html.PartialAsync("MainMenuPartrial")</a>
            </il>
            
            <il class="col-auto pr-xl-5 mr-xl-5 pr-md-5 pr-sm-5 pr-lg-5 pr-0"></il>
            
            <il class="nav-item col-auto pl-xl-5 ml-xl-5 pl-md-5 pl-sm-5 pl-lg-5 pr-0 pr-xl-5 mr-xl-5 pr-lg-5 mr-sm-5 pr-sm-5 mr-lg-5 pr-3 mr-2">
               <button class="btn btn-light border-warning btn-lg float-right">@User.Identity.Name<i class="fa fa-user fa-1x" aria-hidden="true"></i></button>
            </il>
    </nav>
<script src ="~/js/MainMenu.js"></script>