    <div class ="header">
        <div class="header-nav-buttons d-flex flex-row-reverse">
            <div class ="login-button col-auto p-2">
                <button class="btn btn-light rounded-right border border-secondary" type="button">Hello&ensp;<i class="fa fa-user fa-1x" aria-hidden="true"></i></button>
            </div>
            <div class ="info-button p-2 pr-4">
                <a href ="#" class="text-dark"><p><i class="fa fa-info-circle fa-2x"></i></p></a>
            </div>
        </div>
    </div>