<div class="dropdown">
    <div onclick="myFunction()"><img class="dropbtn" src="~/icons8-menu-64.png" width="33" height="33" /></div> 
        <div id="myDropdown" class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
</div>
