<div class="dropdown">
    <div onclick="myFunction()"><img class="dropbtn" src="~/icons8-menu-64.png" width="33" height="33" /></div> 
        <div id="myDropdown" class="dropdown-content">
            <table>
               <tr class ="border-line">
                    <th>
                        <a href="~/sp/teh">
                            <div class="text-center"><i class="fa fa-archive" aria-hidden="true"></i></div>
                            <div class="text-center">Resources</div>
                        </a>
                    </th>
                    <th>
                        <a href="~/st">
                            <div class="text-center"><i class="fa fa-database" aria-hidden="true"></i></div>
                            <div class="text-center">Storage</div>
                        </a>
                    </th>
                    <th>
                        <a href="~/pl">
                            <div class="text-center"><i class="fa fa-television" aria-hidden="true"></i></div>
                            <div class="text-center">Place</div>
                        </a>
                    </th>
               </tr>
               <tr class ="border-line">
                <th>
                    <a href="~/wk">
                            <div class="text-center"><i class="fa fa-user-o" aria-hidden="true"></i></div>
                            <div class="text-center">Worker</div>
                        </a>
                    </th>
                <th>
                    <a href="~/com">
                            <div class="text-center"><i class="fa fa-university" aria-hidden="true"></i></div>
                            <div class="text-center">Company</div>
                        </a>
                    </th>
                    <th>
                     <a href="~/vn">
                            <div class="text-center"><i class="fa fa-shopping-bag" aria-hidden="true"></i></div>
                            <div class="text-center">Vender</div>
                        </a>
              </tr>
              <tr class ="border-line">
                <th>
                    <a href="~/srv">
                            <div class="text-center"><i class="fa fa-server" aria-hidden="true"></i></div>
                            <div class="text-center">Server</div>
                        </a>
                    </th>
                <th>
                    <a href="#">
                            <div class="text-center"><i class="fa fa-wrench" aria-hidden="true"></i></div>
                            <div class="text-center">Broken</div>
                        </a>
                    </th>
                    <th>
                    <a href="#">
                            <div class="text-center"><i class="fa fa-asterisk" aria-hidden="true"></i></div>
                            <div class="text-center">Status</div>
                        </a>
                    </th>
              </tr>
            </table>
        </div>
</div>
