<div class="wrapper-sidebar container-field bg-info">
        <div class="wrapper-sidebar-listlogo d-flex flex-row" style="background-color: #f6f6f6">
            <div class="wrapper-sidebar-listlogo-logo p-2">
                <a href="#" class="navbar-logo"> <img src="~/ZG logo.png" width=52px height=52px/></a>
            </div>
            <div class="wrapper-sidebar-listlogo-name p-2">
                <a href="#" class="navbar-logo">ZooGuard</a>
            </div>
        </div>
</div>