@model IList<ZooGuard.Core.Entities.InfoAboutPos.FormOfOccurence>
@{
    ViewData["Title"] = "GetAllOccurenceInDataBase";
}

<div class="text-center">
    <h3>Types of property</h3>
</div>
 
<div class="form-group">
    <a class="nav-link text-dark" asp-area="" asp-controller="FormOfOccurence" asp-action="GetFormOccurence"><input type="submit" value="Add property" class="btn btn-primary" /></a>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
            <th>Delete property type</th>
		</tr>
	</thead>
	<tbody>
		@foreach (ZooGuard.Core.Entities.InfoAboutPos.FormOfOccurence occurence in Model) {
        <tr>
			<td>@occurence.Name</td>
			<td><a href="~/TypesOfProperty/Delete/@occurence.Id"/><input type="submit" value="Delete" class="btn btn-primary" /></td>
		</tr>
        }
	</tbody>
</table>
