@model UserViewModel
@{
    ViewData["Title"] = "GetUserForm";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action = "AddUser" asp-controller = "User">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <input asp-for="Project" class="form-control" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="RoleIds" class="control-label"></label><br/>
                <select asp-for="RoleIds" asp-items="Model.Roles" class="fform-select form-select-lg mb-3" multiple></select>
                <span asp-validation-for="RoleIds" class="text-danger"></span>         
            </div>
            <div class="form-group">
                <input type="submit" value="Edit User" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
