<div class = "tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="~/com">Companies</a>
      </li>
      <li>
        <a class="nav-link active" data-toggle="tab" href="~/prj">Projects</a>
      </li>
    </ul>
</div>
