@{
    ViewData["Title"] = "Place Table";
}

<div class="container-fluid">
  <div class="button-add-link row align-items-start">
    <div class="col">
       <div class="addres-link"><p><a href="~/hm">Home</a>&#47;Placies</p></div>
    </div>
    <div class="col d-flex flex-row-reverse">
        <div class ="add-button">
            <button class="btn btn-info rounded-left" type="button">Add Place</button>
        </div>
    </div>
  </div>
 </div>

<div class = "tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="~/pl">Placies</a>
      </li>
    </ul>



<table class="table table-hover">
  <thead>
    <tr class="table-light">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Projects</th>
      <th scope="col">Places</th>
      <th scope="col">Workers</th>
      <th scope="col">Storagies</th>
      <th scope="col">Server Romm</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row-table table-light">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
  </tbody>
</table>
</div>
